{% extends "layout.html.twig" %}

{% block hero_body %}
    <h1 class="title">Dons &amp; boutique</h1>
    <h2 class="subtitle">Chargez votre compte avec de l'argent</h2>
{% endblock %}

{% block content %}
    {% if app.user %}
        <article class="message is-primary is-medium">
            <div class="message-header">
                <p>Bonjour {{ app.user.username }} !</p>
            </div>
            <div class="message-body is-centered">
                Vous disposez de <strong>{{ app.user.balance }} €</strong> sur votre compte.
            </div>
        </article>

        <p>
            Pour acheter sur la boutique, vous devez au préalable recharger votre compte avec de l'argent. <br />
            Pour ce faire, <strong>choisissez votre moyen de payment</strong>.
        </p>

        <div class="columns is-centered" style="margin-top: 2em">
            <div class="column is-4">
                <a href="" class="button-kubithon" id="paypal">
                    <span class="fa fa-paypal"></span>&nbsp;&nbsp;Paypal
                </a>
            </div>
            <div class="column is-4">
                <a href="" class="button-kubithon" id="mcg">
                    <span class="fa fa-mobile-phone"></span>&nbsp;&nbsp;Téléphone/SMS
                </a>
            </div>
        </div>

        <div class="modal" id="paypal_modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <div class="has-text-centered">
                        <h3>Créditer votre compte avec PayPal</h3>
                        <p>
                            <a class="button is-primary is-large" href="{{ path('payment_generate', {price: 5}) }}">5&nbsp;&euro;</a>
                            <a class="button is-primary is-large" href="{{ path('payment_generate', {price: 10}) }}">10&nbsp;&euro;</a>
                            <a class="button is-primary is-large" href="{{ path('payment_generate', {price: 15}) }}">15&nbsp;&euro;</a>
                            <a class="button is-primary is-large" href="{{ path('payment_generate', {price: 20}) }}">20&nbsp;&euro;</a>
                        </p>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" id="paypal_modal_close"></button>
        </div>

    {% else %}
        <article class="message is-primary is-medium">
            <div class="message-header">
                <p>Bienvenue sur la boutique !</p>
            </div>
            <div class="message-body">
                <div class="columns is-centered">
                    <div class="column is-10">
                        Vous devez être identifié pour acheter sur la boutique. Il vous faut trente secondes !<br />
                        Commencez en cliquant sur le bouton à doite…
                    </div>
                    <div class="column is-2">
                        <a class="button is-primary is-medium" href="{{ path('fos_user_security_login') }}">Connexion</a>
                    </div>
                </div>
            </div>
        </article>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script type="text/javascript">
            $('#paypal').click(function (e) {
                e.preventDefault();
                $('#paypal_modal').addClass('is-active');
            });
        </script>
    {% endif %}
{% endblock %}
