{% extends "layout.html.twig" %}

{% block content %}

    {% if app.user %}
        <div class="col">
            <div class="row align-items-center lead">
                <div class="col-auto mr-auto">Bonjour <strong>{{ app.user.username }}</strong>, tu dispose de {{ app.user.balance }}€ sur ton compte</div>
                <div class="col-auto"><a class="btn btn-sm btn-dark" href="">Créditer mon compte</a></div>
            </div>
        </div>
    {% else %}
        <div class="col">
            <div class="row align-items-center lead">
                <div class="col-auto mr-auto">Bienvenue dans la boutique, pour acheter connecte toi.</div>
                <div class="col-auto"><a class="btn btn-sm btn-dark" href="{{ path('fos_user_security_login') }}">Connexion</a></div>
            </div>
        </div>
    {% endif %}
    <hr>
    <div class="row">

        {% for row in items|batch(4) %}
            <div class="card-deck">
                {% for item in row %}
                <div class="card">
                    <img class="card-img-top" src="/uploads/images/products/{{ item.image }}" height="140" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <p class="card-text">{{ item.description|raw }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <div class="row align-items-center">
                                <div class="col-auto mr-auto"><strong>3€</strong></div>
                                <div class="col-auto"><a class="btn btn-sm btn-dark payment {% if not app.user %}disabled{% endif %}" href="" data-name="{{ item.name }}" data-price="{{ item.price }}€" data-id="{{ item.id }}">Acheter</a></div>
                            </div>
                        </small>
                    </div>
                </div>
                {% endfor %}
            </div><br>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.css" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.all.min.js"></script>
    {% if app.user %}
    <script>
        $('.payment').click(function (event) {
            event.preventDefault();
            swal({
                title: 'Confirmez votre achat',
                text: 'Si vous validez cet achat il n\'y a pas de retour arrière possible.',
                type: 'question',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Payer '+$(this).data('price'),
            }).then(function () {
                swal({
                    title: 'C\'est parti !',
                    text: 'Nous livrons actuellement votre item en jeu. Merci de patienter ...',
                    timer: 5000,
                    onOpen: function () {
                        swal.showLoading()
                    }
                }).then(
                    function () {},
                    function () {}
                )
            })
        });
    </script>
    {%  endif %}
{% endblock %}
