{% extends "layout.html.twig" %}

{% block hero_body %}
    <h1 class="title">Boutique de Kubithon</h1>
    <h2 class="subtitle">Donnez au Téléthon, en échange d'avantages en jeu !</h2>
{% endblock %}

{% block content %}
    {% if app.user %}
        <article class="message is-primary is-medium">
            <div class="message-header">
                <p>Bonjour {{ app.user.username }} !</p>
            </div>
            <div class="message-body">
                <div class="columns is-centered">
                    <div class="column is-10">
                        Vous disposez de <strong>{{ app.user.balance }} €</strong> sur votre compte.
                    </div>
                    <div class="column is-2 has-test-right">
                        <a class="button is-primary" href="{{ path('shop_credit') }}">Créditer mon compte</a>
                    </div>
                </div>
            </div>
        </article>
    {% else %}
        <article class="message is-primary is-medium">
            <div class="message-header">
                <p>Bienvenue sur la boutique !</p>
            </div>
            <div class="message-body">
                <div class="columns is-centered">
                    <div class="column is-10">
                        Vous devez être identifié pour acheter sur la boutique.
                    </div>
                    <div class="column is-2">
                        <a class="button is-primary is-medium"
                           href="{{ path('fos_user_security_login') }}">Connexion</a>
                    </div>
                </div>
            </div>
        </article>
    {% endif %}

    <p>
        L'intégralité des recettes de la boutique sont <strong>reversées au Téléthon</strong>.
    </p>

    <div class="columns is-multiline">

        {% for item in items %}
            <div class="column is-3">
                <div class="card kubithon-product">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/uploads/images/products/{{ item.image }}" alt="{{ item.name }} (illustration)">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ item.name }}</p>
                                <p class="subtitle is-6">{{ item.price }} €</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ item.description|raw }}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" title="text" class="kubithon-product-buy card-footer-item is-unselectable has-text-centered{% if not app.user %} is-disabled{% endif %}">Acheter</a>
                    </footer>
                </div>
                <div class="confirm-popup">
                    <h4>Confirmez votre achat</h4>
                    <p>Les achats au profit du Téléthon ne sont pas remboursables.</p>
                    <div class="columns">
                        <div class="column is-6">
                            <a href="#" class="button is-outlined is-fullwidth confirm-popup-cancel">Annuler</a>
                        </div>
                        <div class="column is-6">
                            <a href="{{ path('shop_buy', {id: item.id}) }}" class="button is-primary is-fullwidth">Confirmer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <footer class="footer has-text-centered">
        <p>
            Les dons via la boutique n'offrent pas de réduction d'impôts, mais vous pouvez
            également <a href="https://soutenir.afm-telethon.fr/kubithon">faire un don sans contrepartie</a> qui permet d'en obtenir, à hauteur de 66%.
        </p>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.user %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/tippy.all.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/utils.js') }}"></script>

        <script type="text/javascript">
            (function()
            {
                'use strict';

                tippy('.kubithon-product-buy', {
                    html: function(el) { return el.parentNode.parentNode.parentNode.querySelector('.confirm-popup') },
                    placement: 'bottom',
                    trigger: 'click',
                    interactive: true,
                    arrow: true,
                    animation: 'fade',
                    distance: 15,
                    arrowTransform: 'scale(2)',
                    wait: function(show, e)
                    {
                        e.preventDefault();
                        show();
                    },
                    onShow: function()
                    {
                        var self = this;
                        this.querySelector('.confirm-popup-cancel').addEventListener('click', function(e)
                        {
                            e.preventDefault();
                            self._reference._tippy.hide(300);
                        });
                    }
                });
            })();
        </script>
    {%  endif %}
{% endblock %}
