<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" type="img/png" href="{{ asset('bundles/app/images/favicon.png') }}" />

    <title>{% block title %}Kubithon{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/kubithon.min.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

</head>

<body>
    <section class="hero {% block hero_classes %}{% endblock %}">
        <div class="hero-head {% block hero_classes_head %}{% endblock %}">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ path('homepage') }}">
                            <img class="navbar-brand-logo" src="{{ asset('bundles/app/images/kubithon.png') }}" alt="Kubithon" aria-hidden="true" />
                        </a>
                        <h1 class="navbar-item">
                            Kubithon
                        </h1>
                        {% block navbar_menu_persistant %}
                            <div class="navbar-item">
                                <a href="{{ path('shop_home') }}" class="button is-primary is-outlined is-medium">
                                    <span class="fa fa-shopping-basket" aria-hidden="true"></span>
                                    <span class="is-hidden-mobile">Boutique</span>
                                </a>
                            </div>
                            <div class="navbar-item">
                                <a href="https://discord.gg/ZwW9Hru">
                                    <img src="{{ asset('bundles/app/images/discord-logo.svg') }}" alt="Rejoignez-nous sur Discord !" />
                                </a>
                            </div>
                        {% endblock %}
                    </div>
                    <div class="navbar-menu">
                        {% block navbar_menu %}
                            <div class="navbar-end">
                                <p class="navbar-item kubithon-chapo">{% spaceless %}
                                    Un grand événement caritatif sur Minecraft au profit du Téléthon<br />
                                    Du 8 au 10 décembre 2017
                                {% endspaceless %}</p>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </header>
        </div>

        <div class="hero-body {% block hero_classes_body %}{% endblock %}">
            {% block hero_body %}{% endblock %}
        </div>

        <div class="hero-foot {% block hero_classes_foot %}{% endblock %}">
            {% block hero_foot %}{% endblock %}
        </div>
    </section>

    <div class="container main-container {% block container_classes %}{% endblock %}">
        {% block content %}{% endblock %}
    </div>

    {% for message in app.flashes('success') %}
        <div class="modal is-active" id="success_modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="notification is-primary">
                    {{ message|raw }}
                </div>
                <button class="modal-close is-large" id="success_modal_close"></button>
            </div>
        </div>

        <script>
            $('#success_modal_close').click(function () {
                $('#success_modal').removeClass('is-active');
            });
        </script>

    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="modal is-active" id="error_modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="notification is-danger">
                    {{ message|raw }}
                </div>
                <button class="modal-close is-large" id="error_modal_close"></button>
            </div>
        </div>

        <script>
            $('#error_modal_close').click(function () {
                $('#error_modal').removeClass('is-active');
            });
        </script>
    {% endfor %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).on('keyup', function (evt) {
            if (evt.keyCode == 27)
            {
                $('.modal').removeClass('is-active');
            }
        });
        $('.modal-background, .modal-close').click(function (e) {
            $(this).parent('.modal').removeClass('is-active');
        });
    </script>

    {% block javascripts %}{% endblock %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110956458-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110956458-1');
    </script>
</body>
</html>
