{% extends 'layout.html.twig' %}

{% block hero_classes %}is-fullheight is-bold{% endblock %}
{% block hero_classes_foot %}kubithon-home-foot{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/homepage.js') }}"></script>
{% endblock %}

{% block hero_body %}
    <div class="container has-text-centered main-title donation">
        <p class="donation-amount">Grâce à vous, nous avons déjà récolté <span>{{ current_gain|number_format }} €</span></p>
        <div class="goals">
            <progress class="progress is-success" value="{{ current_gain }}" max="{{ max_gain }}">
                {{ current_gain|number_format }} €
            </progress>
            <ul class="progress-goals">
                {% for goal in goals %}
                    <li
                        style="margin-left: {{ goal.percentage * 100 }}%"
                        {% if goal.percentage > 0.5 %}class="right-tick"{% endif %}>
                        <span aria-hidden="true"></span>
                        <aside>
                            <div>
                                <h4>{{ goal.amount|number_format }} €</h4>
                                <p>
                                    {{ goal.description }}
                                </p>
                            </div>
                        </aside>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="https://soutenir.afm-telethon.fr/kubithon" class="button-kubithon" target="_blank">
            Donner au Téléthon
        </a>
        <p class="button-kubithon-subtitle">
            Sur le site web de l'AFM-Téléthon<br />
            Ces dons sont déductibles à 66% des impôts !
        </p>
    </div>
{% endblock %}

{% block hero_foot %}
    <div class="columns">
        <a class="column has-text-centered"><p>Rejoignez le concert sur Minecraft</p></a>
        <div class="is-divider-vertical" data-content="OU"></div>
        <a class="column has-text-centered"><p>Suivez l'événement en Live !</p></a>
    </div>
{% endblock %}

{%  block content %}
    <h1>Pomf</h1>
{% endblock %}
