{% extends 'layout.html.twig' %}

{% block hero_classes %}is-fullheight is-bold{% endblock %}
{% block hero_classes_foot %}kubithon-home-foot{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/homepage.js') }}"></script>
{% endblock %}

{% block hero_body %}
    <div class="container has-text-centered main-title donation">
        <p class="donation-amount">Grâce à vous, nous avons déjà récolté <span>{{ current_gain|number_format }} €</span></p>
        <div class="goals">
            <progress class="progress is-success" value="{{ current_gain }}" max="{{ max_gain }}">
                {{ current_gain|number_format }} €
            </progress>
            <ul class="progress-goals">
                {% for goal in goals %}
                    <li
                        style="margin-left: {{ goal.percentage * 100 }}%"
                        {% if goal.percentage > 0.5 %}class="right-tick"{% endif %}>
                        <span aria-hidden="true"></span>
                        <aside>
                            <div>
                                <h4>{{ goal.amount|number_format }} €</h4>
                                <p>
                                    {{ goal.description|raw }}
                                </p>
                            </div>
                        </aside>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="https://soutenir.afm-telethon.fr/kubithon" class="button-kubithon" target="_blank">
            Donner au Téléthon
        </a>
        <p class="button-kubithon-subtitle">
            Sur le site web de l'AFM-Téléthon<br />
            Ces dons sont déductibles à 66% des impôts !
        </p>
    </div>
{% endblock %}

{% block hero_foot %}
    <div class="columns">
        <a class="column has-text-centered" href="#download"><p>» Rejoignez l'événement sur Minecraft «</p></a>
        <div class="is-divider-vertical" data-content="OU"></div>
        <a class="column has-text-centered" href="#live"><p>» Suivez l'événement en Live ! «</p></a>
    </div>
{% endblock %}

{% block container_classes %}main-page-container{% endblock %}

{%  block content %}
    <section class="section download" id="download">
        <h1>Rejoindre l'événement en jeu sur Minecraft</h1>
        <p>Vivez le Kubithon de l'intérieur !</p>
        <p>Il vous suffit de télécharger l'installeur ci-dessous et de double-cliquer sur le fichier téléchargé.<br />Fonctionne pour les versions premium ou non.</p>


        <p style="margin-top: 2em; margin-bottom: 0;">
            <a href="https://github.com/Kubithorg/launcher/releases/tag/v1.1.2"
               class="button-kubithon" target="_blank" style="font-size: 1em;">
            Télécharger le lanceur
            </a>
        </p>
    </section>

    <section class="section list-streams" id="live">
        <h1>Suivre l'événement en <em>live</em></h1>
        <p>Profitez des nombreux <em>streamers</em> qui rediffusent l'événement en direct !</p>

        {# TODO 2018 : code dupliqué #}

        {%  if main_stream %}
            <div class="card has-ribbon">
                <div class="ribbon {% if main_stream.live %}is-danger{% endif %} is-large">
                    <span class="fa fa-circle"></span>&nbsp;&nbsp;{% if main_stream.live %}LIVE{% else %}HORS LIGNE{% endif %}
                </div>
                {%  if main_stream.bannerName %}
                <div class="card-image" aria-hidden="true">
                    <a href="{{ main_stream.url }}">
                        <figure class="image">
                            <img src="/uploads/images/streams/{{ main_stream.bannerName }}" alt="Bannière" />
                        </figure>
                    </a>
                </div>
                {% endif %}
                <div class="card-content">
                    <div class="media">
                        {% if main_stream.authorLogoName %}
                        <div class="media-left" aria-hidden="true">
                            <figure class="image is-48x48">
                                <img src="/uploads/images/streams_authors/{{ main_stream.authorLogoName }}" alt="{{ main_stream.title }}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="media-content columns">
                            <div class="column is-7">
                                <p class="title is-3">{{ main_stream.title }}</p>
                                <p class="subtitle is-5">{{ main_stream.subtitle }}</p>
                            </div>
                            <div class="column is-5 has-text-right">
                                <a href="{{ main_stream.url }}" class="button is-primary is-large">
                                    Voir la diffusion
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="columns is-multiline">
            {% for stream in streams %}
                <div class="column is-6">
                    <div class="card has-ribbon">
                        <div class="ribbon {% if stream.live %}is-danger{% endif %} is-large">
                            <span class="fa fa-circle"></span>&nbsp;&nbsp;{% if stream.live %}LIVE{% else %}HORS LIGNE{% endif %}
                        </div>
                        {%  if stream.bannerName %}
                            <div class="card-image" aria-hidden="true">
                                <a href="{{ stream.url }}">
                                    <figure class="image is-4by3">
                                        <img src="/uploads/images/streams/{{ stream.bannerName }}" alt="Bannière" />
                                    </figure>
                                </a>
                            </div>
                        {% endif %}
                        <div class="card-content">
                            <div class="media">
                                {% if stream.authorLogoName %}
                                    <div class="media-left" aria-hidden="true">
                                        <figure class="image is-48x48">
                                            <img src="/uploads/images/streams_authors/{{ stream.authorLogoName }}" alt="{{ stream.title }}" />
                                        </figure>
                                    </div>
                                {% endif %}
                                <div class="media-content columns">
                                    <div class="column is-7">
                                        <p class="title is-3">{{ stream.title }}</p>
                                        <p class="subtitle is-5">{{ stream.subtitle }}</p>
                                    </div>
                                    <div class="column is-5 has-text-right">
                                        <a href="{{ stream.url }}" class="button is-primary is-large">
                                            Voir la diffusion
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="section discord" id="discord">
        <h1>Conférences et interaction sur Discord</h1>
        <p>Suivez des conférences et discutez directement sur <strong>Discord</strong>.<br/>Cliquez ci-dessous !</p>

        <p class="has-text-centered">
            <a href="https://discord.gg/ZwW9Hru">
                <img src="{{ asset('bundles/app/images/discord-logo.svg') }}" alt="Rejoindre Discord"
                     style="height: 8em;"/>
            </a>
        </p>

        <p><em>Le planning des conférences sera prochainement affiché ici. Elles commencent le samedi.</em></p>
    </section>

    <section class="section download" id="download">
        <h1>Nos partenaires</h1>

        <div class="has-text-centered">
            <a href="https://www.ipgarde.com/" target="_blank">
                <img src="https://i.kubithon.org/IPGARDE.jpg" alt="IPGarde" style="height: 8em;"/>
            </a>
            <p>Un hébergeur en or, sans qui le Kubithon ne serait pas !</p>
        </div>
        <br><br>

        <div class="columns">
            <div class="column is-one-quarter">
                <div class="has-text-centered" style="margin-top: 25px!important;">
                    <a href="https://mcgpass.com" target="_blank">
                        <img src="https://i.kubithon.org/mcg.png" alt="MCGPass" style="height: 4em;"/>
                    </a>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="has-text-centered">
                    <a href="https://revolta-hosting.fr/" target="_blank">
                        <img src="https://i.kubithon.org/revhost.png" alt="Révolta hosting" style="height: 7em;"/>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <a href="https://shadow.tech/" target="_blank" style="margin-top: 25px!important;">
                        <img src="https://i.kubithon.org/shadow.png" alt="Shadow" style="height: 6em;"/>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered" style="margin-top: 20px!important;">
                    <a href="https://revolta-hosting.fr/" target="_blank">
                        <img src="https://i.kubithon.org/harmony.png" alt="Harmony hosting" style="height: 6em;"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="has-text-centered">
            <p>
                Revolta Hosting ainsi que Harmony-Hosting nous permettent de vous faire gagner des lots incroyables et
                mettent en place des promotions du tonnerre, tandis que Shadow.Tech nous permet de vous streamer
                l'événement sur toute la durée du weekend. Si ça c'est pas beau !
            </p>
        </div>

    </section>
{% endblock %}
