{% trans_default_domain 'FOSUserBundle' %}
{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">

        <div id="home" class="col-md-6 mx-auto">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card text-white bg-primary" id="acc_offi" style="cursor: pointer">
                        <div class="card-body">
                            <h4 class="card-title">Compte officiel</h4>
                            <p class="card-text">Si vous avez un compte minecraft officiel cliquez ici.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card text-white bg-dark" id="acc_crack" style="cursor: pointer">
                        <div class="card-body">
                            <h4 class="card-title">Compte non officiel</h4>
                            <p class="card-text">Si vous n'avez pas de compte minecraft officiel cliquez ici.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="crack" style="display: none" class="col-md-4 mx-auto">

            <h4><i class="fa fa-arrow-left back"></i> Connexion</h4><br>

            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                    <strong>Erreur !</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                {% endif %}

                <div class="form-group">
                    <input id="username" name="_username" class="form-control" required placeholder="Pseudo">
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="_password" class="form-control" required placeholder="Mot de passe">
                </div>

                <div class="row">
                    <div class="col-auto mr-auto">
                        <a href="#" class="btn btn-outline-dark">Inscription</a>
                    </div>
                    <div class="col-auto">
                        <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-dark"/>
                    </div>
                </div>

            </form>

        </div>

        <div id="leggit" style="display: none" class="col-md-4 mx-auto">

            <h4><i class="fa fa-arrow-left back"></i> Connexion</h4><br>

            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                    <strong>Erreur !</strong> {{ error }}
                </div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                {% endif %}

                <div class="form-group">
                    <input id="username" name="_username" class="form-control" required placeholder="Pseudo">
                </div>

                <div class="text-right">
                    <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-primary"/>
                </div>

            </form>

        </div>

    </div>

{% endblock content %}

{% block javascripts %}
    <script>
        $('#acc_crack').click(function () {
            $('#home').hide();
            $('#leggit').hide();
            $('#crack').show();
        });
        $('#acc_offi').click(function () {
            $('#home').hide();
            $('#crack').hide();
            $('#leggit').show();
        });

        $('.back').click(function () {
            $('#crack').hide();
            $('#leggit').hide();
            $('#home').show();
        })
    </script>
{% endblock %}