{% trans_default_domain 'FOSUserBundle' %}
{% extends "layout.html.twig" %}

{% block content %}

    {% if error %}
        <div class="notification is-danger">
            <strong>Erreur !</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="columns">
        <div class="column is-offset-one-fifth is-3">
            <p>Compte officiel</p>

            <form action="{{ path('mojang_login') }}" method="post">

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                {% endif %}

                <div class="field">
                    <div class="control">
                        <input name="_username" class="input is-primary" type="text" required placeholder="Pseudo">
                    </div>
                </div>
                <div class="has-text-right">
                    <input type="submit" id="_submit" name="_submit" value="Connexion"
                           class="button is-primary is-medium"/>
                </div>

            </form>
        </div>

        <div class="is-divider-vertical" data-content="OR"></div>

        <div class="column is-3">
            <p>Compte non officiel</p>
            <form action="{{ path("fos_user_security_check") }}" method="post">

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                {% endif %}

                <div class="field">
                    <div class="control">
                        <input name="_username" class="input is-primary" type="text" required placeholder="Pseudo">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input name="_password" class="input is-primary" type="password" required
                               placeholder="Mot de passe">
                    </div>
                </div>

                <div class="has-text-right">
                    <input type="submit" id="_submit" name="_submit" value="Connexion"
                           class="button is-primary is-medium"/>
                </div>

            </form>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    <script>
        $('#acc_crack').click(function () {
            $('#home').hide();
            $('#leggit').hide();
            $('#crack').show();
        });
        $('#acc_offi').click(function () {
            $('#home').hide();
            $('#crack').hide();
            $('#leggit').show();
        });

        $('.back').click(function () {
            $('#crack').hide();
            $('#leggit').hide();
            $('#home').show();
        })
    </script>
{% endblock %}